<div class="container">
    <br>
    <div class="jumbotron">
        <div class="container">
            <h1>Appointments</h1>
            <%= link_to "New Appointment", new_appointment_path %>
        </div>
    </div>
    <%= link_to "<< back", :back %>

    <h2>Edit</h2>

    <%= form_for([@resource, @appointment]) do |f| %>
    <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <div class="form-group field">
        <%= f.label :title %><br />
        <%= f.text_field :title, autofocus: true, autocomplete: "title" %>
    </div>

    <div class="form-group field">
        <%= f.label :description %><br />
        <%= f.text_area :description, autofocus: true, autocomplete: "description" %>
    </div>

    <div class="form-group field">
        <%= f.label :start_date %><br />
        <%= f.datetime_field :start_date, autofocus: true, autocomplete: "start_date" %>
    </div>

    <div class="form-group field">
        <%= f.label :end_date %><br />
        <%= f.datetime_field :end_date, autofocus: true, autocomplete: "end_date" %>
    </div>

    <div class="form-group field">
        <div class="form-group field">
            <%= f.fields_for :appointment_guests, @appointment.appointment_guests.build do |t| %>
            <%= t.label :email %><br>
            <% collection_select(:appointment_guests, :email, @appointment_guests_list, :email, :email, {}, {:multiple => true }) %>
            <% end %>
        </div>
    </div>

    <div class="actions">
        <br />
        <%= f.submit "save", class: "btn btn-primary" %>
    </div>
    <% end %>
</div>