<div class="container">
    <br>
    <div class="jumbotron">
        <div class="container">
            <h1> New Appointment</h1>
        </div>
    </div>

    <%= form_for([@resource, @appointment]) do |f| %>
    <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <div class="form-group">
        <div class="form-group field">
            <%= f.label :title %><br />
            <%= f.text_field :title, autofocus: true, autocomplete: "title" %>
        </div>
    </div>
    <div class="form-group">
        <div class="form-group field">
            <%= f.label :description %><br />
            <%= f.text_area :description, autofocus: true, autocomplete: "description" %>
        </div>
    </div>
    <div class="form-group">
        <div class="form-group field">
            <%= f.label :start_date %><br />
            <%= f.datetime_field :start_date, autofocus: true, autocomplete: "start_date" %>
        </div>
    </div>
    <div class="form-group">
        <div class="form-group field">
            <%= f.label :end_date %><br />
            <%= f.datetime_field :end_date, autofocus: true, autocomplete: "end_date" %>
        </div>
    </div>
    <div class="form-group">
        <div class="form-group field">
            <%= f.label :locale %><br />
            <%= f.text_field :locale, autofocus: true, autocomplete: "locale" %>
        </div>
    </div>
    <div class="form-group">
        <div class="form-group field">
            <%= f.fields_for :appointment_guests, @appointment.appointment_guests.build do |t| %>
            <%= t.label :email %><br>
            <%= t.text_field :email, list: "appointment_guests_autocomplete" %>
            <datalist id="appointment_guests_autocomplete">
                <% AppointmentGuest.all.each do |guest| %>
                <option value="<%= guest.email %>"></option>
                <% end %>
            </datalist>
            <br />
            <% end %>
        </div>
    </div>
    <br />
    <div class="actions">
        <br />
        <%= f.submit "save", :class => "btn btn-primary" %>
        <% end %>
    </div>
</div>