<!DOCTYPE html>
<html>

<head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.1/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
</head>

<body>
    <nav class="navbar navbar-dark fixed-top bg-primary flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">Scheduler</a>
        <% if user_signed_in? %>
        <span class="nav"><i><%= current_user.email %></i></span>
        <% end %>
        </a>
        <ul class="navbar-nav px-3">
            <% if user_signed_in? %>
            <li class="nav-item text-nowrap">
                <%= button_to "logout", destroy_user_session_path, method: :delete, :class => 'btn btn-default'  %>
            </li>
            <% else %>
            <li class="nav-item text-nowrap">
                <%= button_to "Login", new_user_session_path, :class => 'btn btn-default'  %>
            </li>
            <% end %>
        </ul>
    </nav>

    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 bg-light d-none d-md-block sidebar">
                    <div class="left-sidebar">
                        <ul class="nav flex-column sidebar-nav">
                            <li class="nav-item">
                                <%= link_to 'Change Profile', edit_user_registration_path, :class => 'nav-link' %>
                            </li>
                            <li class="nav-item">
                                <%= link_to "Contacts", user_contacts_path, :class => 'nav-link' %>
                            </li>
                            <li class="nav-item">
                                <%= link_to "Appointments", appointments_path, :class => 'nav-link' %>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <%= yield %>
            <br />
            <% flash.each do |type, msg| %>
            <div class="alert alert-info">
                <%= msg %>
            </div>
            <% end %>

        </div>
    </div>

    <footer>
        <div class="container">
            Scheduler <%= Time.now.year %>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.21.1/dist/bootstrap-table.min.js"></script>
</body>

</html>